In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

cnx = create_engine('mysql+pymysql://root:Admin_2024@localhost:3307/rrhh', echo=False)

data = pd.read_sql('SELECT * FROM agentes', cnx)

# data.to_sql(name='sample_table2', con=cnx, if_exists = 'append', index=False)

In [3]:
data

,tarjeta,nombres,horas_extras,entrada,salida,horas_def,id_encargado,activo,id_persona
0,1,"BERARDI, GRACIELA DEL VALLE",0,0 days 00:00:00,0 days 00:00:00,0 days,0,0,None
1,3,"LEIMGRUBER, MARCELO DANIEL",1,0 days 00:00:00,0 days 00:00:00,0 days,38,1,None
2,20,"AGUERO, MIRTA ESTHER",0,0 days 07:00:00,0 days 14:00:00,0 days,0,0,None
3,168,"SCHRANTZ, LUIS OSCAR",0,0 days 04:00:00,0 days 11:00:00,0 days,0,0,None
4,198,"ZAPATA, CARLOS OMAR",0,0 days 00:00:00,0 days 00:00:00,0 days,0,0,None
...,...,...,...,...,...,...,...,...,...
416,1393,"JUNCOS, SUSANA PAOLA",1,0 days 07:00:00,0 days 14:00:00,0 days,0,1,None
417,1394,"BARRERA, IRMA",0,0 days 07:00:00,0 days 14:00:00,0 days,0,0,None
418,1395,"MEDINA, VERONICA MERCEDES",0,0 days 07:00:00,0 days 14:00:00,0 days,0,0,None
419,9999,SUPERVISOR,0,0 days 07:00:00,0 days 14:00:00,0 days,0,0,None
420,11380,"OVIEDO, ANALIA SOLEDAD",0,0 days 07:00:00,0 days 14:00:00,0 days,0,0,None